<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lab 10</title>
</head>
<body>

<h2>Zadanie 3</h2>

id : <label th:text="${model_id}"></label> | name : <label th:text="${model_name}"></label> | manufacturer_id : <label th:text="${model_maunf}"></label>

<br/>

id:     <label th:text="${manufacturer_id}"></label> | name:   <label th:text="${manufacturer_name}"></label>

</body>
</html>